/*.logo {
    width: 200px;
    height: auto;
    margin-top: 0px;
}*/
/*.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.logo-image {
    width: 200px;
    height: auto;
}*/