@using MyJobs.Core.Models.Account
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div id="registrationFormId" class="col-md-6">
            <label for="UserType">User Type:</label>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" asp-for="UserType" value="Employee"> Employee
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" asp-for="UserType" value="Employer"> Employer
                </label>
            </div>
        </div>
    </div>
</div>
<br />
<div class="form-group d-flex justify-content-center">
    <button type="button" class="btn btn-primary" id="nextButton">Next</button>
</div>
<div class="text-center mt-3">
    <p>If you already have an account, <a href="@Url.Action("Login", "Account")">login here</a>.</p>
</div>


<div id="employeeRegistration" style="display:none">
    <partial name="_RegisterEmployeePartial" />
</div>
<div id="employerRegistration" style="display:none">
    <partial name="_RegisterEmployerPartial" />
</div>

<script>
    const button = document.getElementById("nextButton");
    button.addEventListener("click", () => {
        const userType = document.querySelector('input[name="UserType"]:checked').value;
        document.getElementById("registrationFormId").style.display = "none";
        if (userType === "Employee") {
            document.getElementById("employeeRegistration").style.display = "block";
            document.getElementById("employerRegistration").style.display = "none";
        } else if (userType === "Employer") {
            document.getElementById("employeeRegistration").style.display = "none";
            document.getElementById("employerRegistration").style.display = "block";
        }
        button.style.visibility = 'hidden';
    });
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
