@using MyJobs.Core.Models.Account
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@if (Model.UserType == RoleConstants.Employer)
{
    <partial name="_RegisterEmployerPartial" />
}
else if (Model.UserType == RoleConstants.Employee)
{
    <partial name="_RegisterEmployeePartial" />
}

<div class="text-center mt-3">
    <p>If you already have an account, <a href="@Url.Action("Login", "Account")">login here</a>.</p>
</div>
