@using MyJobs.Core.Models.Account
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>


<div id="registrationFormId" class="form-group">
  <label asp-for="UserType">User Type:</label>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" asp-for="UserType" value="Employee"> Employee
    </label>
    <label class="btn btn-secondary">
      <input type="radio" asp-for="UserType" value="Employer"> Employer
    </label>
  </div>
</div>

<div class="form-group">
  <button type="button" class="btn btn-primary" id="nextButton">Next</button>
</div>

<div id="employeeRegistration" style="display:none">
    <partial name="_RegisterEmployeePartial" />
</div>
<div id="employerRegistration" style="display:none">
    <partial name="_RegisterEmployerPartial" />
</div>


<script>
    const button = document.getElementById("nextButton");
    button.addEventListener("click", () => {
        const userType = document.querySelector('input[name="UserType"]:checked').value;
        document.getElementById("registrationFormId").style.display = "none";
        if (userType === "Employee") {
            document.getElementById("employeeRegistration").style.display = "block";
            document.getElementById("employerRegistration").style.display = "none";
            button.style.visibility= 'hidden';
        }else if(userType === "Employer"){
            document.getElementById("employeeRegistration").style.display = "none";
            document.getElementById("employerRegistration").style.display = "block";
            console.log(userType)
            button.style.visibility= 'hidden';
        }
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
