@using Microsoft.AspNetCore.Identity
@using MyJobs.Core.Models.Notification
@using MyJobs.Infrastructure.Constants
@using MyJobs.Infrastructure.Data.Models.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hello, @User.Identity?.Name!</a>
        </li>

        @if (User.IsInRole(RoleConstants.Administrator))
        {
            <a class="nav-link active" asp-area="Admin" asp-controller="Home" asp-action="Index" title="Admin" class="btn btn-danger">Admin Dashboard</a>
        }
        else
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    My Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" asp-controller="Profile" asp-action="PersonalInformation">Personal Profile</a></li>
                    @if (User.IsInRole("Employer"))
                    {
                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="MyJobs">My Jobs</a></li>
                    }
                    @if (User.IsInRole("Employee"))
                    {
                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="MyApplications">My Applications</a></li>
                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="ReadNotifications">Read Notifications</a></li>
                    }
                </ul>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Account" asp-action="Register" asp-route-userType="Employer">Employer</a></li>
                <li><a class="dropdown-item" asp-controller="Account" asp-action="Register" asp-route-userType="Employee">Employee</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>