@using MyJobs.Core.Models.Profile
@{
    this.ViewData["Title"] = "Personal information";
}
@model UserProfileViewModel

<h1 class='text-center'>@ViewData["Title"]</h1>
<br />
@if (Model.IsEmployee)
{
    <div class="card text-center mx-auto">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
}
else
{
    <div class="card text-center mx-auto">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control">
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CompanyAddress"></label>
            <input asp-for="CompanyAddress" class="form-control">
            <span asp-validation-for="CompanyAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CompanyPhoneNumber"></label>
            <input asp-for="CompanyPhoneNumber" class="form-control">
            <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
        </div>
    </div>
}
<div class="text-center">
    <button class="btn btn-primary">Edit</button>
</div>