@using MyJobs.Core.Models.Resume
@{
    this.ViewData["Title"] = "Edit Resume";
}
@model EditResumeViewModel

<h1 class='text-center'>@this.ViewData["Title"]</h1>

<form asp-action="EditResume" method="post" enctype="multipart/form-data" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" id="id" name="id" value="@Model.Id" />
    <input type="hidden" asp-for="IsPictureRemoved" />

    @if (Model.Image == null)
    {
        <div class="form-group">
            <label class="form-label" for="updatePicture">Upload Picture:</label>
            <input type="file" id="updatePicture" class="form-control" name="UpdatePicture">
        </div>
    }
    else
    {
        <div class="form-group text-center">
            <img src="data:image/jpeg;base64,@Model.Image" class="img-thumbnail" alt="CV Image" style="max-width: 200px;">
            <br />
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="removePictureCheckbox" name="RemovePictureCheckbox">
                <label class="form-check-label" for="removePictureCheckbox">Remove Picture</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="updatePictureCheckbox" name="UpdatePictureCheckbox">
                <label class="form-check-label" for="updatePictureCheckbox">Update Picture</label>
            </div>
            <div id="updatePictureField" style="display: none;">
                <label class="form-label" for="updatePicture">Upload New Picture:</label>
                <input type="file" id="updatePicture" class="form-control" name="UpdatePicture">
            </div>
        </div>
    }
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Summary"></label>
        <input asp-for="Summary" class="form-control">
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" class="form-control">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control">
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Education"></label>
        <input asp-for="Education" class="form-control">
        <span asp-validation-for="Education" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Experience"></label>
        <input asp-for="Experience" class="form-control">
        <span asp-validation-for="Experience" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Skills"></label>
        <input asp-for="Skills" class="form-control">
        <span asp-validation-for="Skills" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        const updatePictureCheckbox = document.getElementById('updatePictureCheckbox');
        const removePictureCheckbox = document.getElementById('removePictureCheckbox');
        const updatePictureField = document.getElementById('updatePictureField');
        const resumeFile = document.getElementById('resumeFile');

        updatePictureCheckbox.addEventListener('change', function() {
            if (this.checked) {
                removePictureCheckbox.checked = false;
                removePictureCheckbox.setAttribute('disabled', 'disabled');
                updatePictureField.style.display = 'block';
            } else {
                removePictureCheckbox.removeAttribute('disabled');
                updatePictureField.style.display = 'none';
            }
        });

        removePictureCheckbox.addEventListener('change', function() {
            if (this.checked) {
                updatePictureCheckbox.checked = false;
                updatePictureCheckbox.setAttribute('disabled', 'disabled');
                updatePictureField.style.display = 'none';
                document.getElementById('IsPictureRemoved').value = 'True';
            } else {
                updatePictureCheckbox.removeAttribute('disabled');
            }
        });
    </script>
}