@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyJobs!</h1>
    <table class="table">
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td>@category.JobCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
