@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4 text-center">Find Your Dream Job with MyJobs</h1>

<div class="text-center">
    <img src="https://media.istockphoto.com/id/1129644198/vector/recruitment-modern-line-design-style-vector-illustration.jpg?s=612x612&w=0&k=20&c=ZBHS-k5azwnflpGW5gRmseB4CxUOpUUmGA3I45mJk9E=" alt="Your Image Description" class="img-fluid">
</div>

<div class="our-services section-pad-t30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <h2>Browse Top Categories </h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center">
            @foreach (var category in Model.Categories)
            {
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-cap">
                            <h5>@category.CategoryName</h5>
                            <span>(@category.JobCount)</span>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-12">
                    <div class="browse-btn2 text-center mt-50">
                        <a asp-controller="Jobs" asp-action="All" class="border-btn2">Browse All Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>