@using MyJobs.Core.Models.Resume
@model UploadResumeViewModel
@{
    this.ViewData["Title"] = "Apply for job";
}

<h1 class='text-center'>@this.ViewData["Title"]</h1>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id">
    <div class="form-group">
        <label class="form-label" for="resumeFile">Upload Resume:</label>
        <input type="file" id="resumeFile" class="form-control" name="ResumeFile" required>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Upload</button>
    </div>
</form>
